.contactlink {
  color:black;
  text-decoration: none;
  border: 1px solid grey;
  background-color: lightyellow;
  border-radius: 16px;
  padding:10px 30px;
  &:hover{
    background-color:rgba(222, 232, 253,0.9);
  }
  &:visited{
    color:black;
  }
}

