<div class="footer">
  <div class="links">
    <div class="social-links">
        <a href="https://www.facebook.com/St%C3%A9phane-Poletti-D%C3%A9veloppeur-Web-109024368337232" class="facebook-icon" target="_blank" ><img src="https://res.cloudinary.com/polettiste/image/upload/v1641464104/facebook_1_qu7gke.png" alt=""></a>
        <a href="https://github.com/POLETTISTE" class="github-icon" target="_blank" ><img src="https://res.cloudinary.com/polettiste/image/upload/v1641391766/github_txgiab.png" alt=""></a>
        <a href="https://www.instagram.com/stephanepoletti/" class="instagram-icon" target="_blank"><img src="https://res.cloudinary.com/polettiste/image/upload/v1641391041/instagram_frhxhb.png" alt=""></a>
        <a href="https://www.linkedin.com/in/poletti-stephane" class="linkedin-icon" target="_blank"><img src="https://res.cloudinary.com/polettiste/image/upload/v1641391040/linkedin_tdjumq.png" alt=""></a>
    </div>
    <div class="footer-links">
        <%= link_to "A propos", about_path%>
        <%= link_to "Mentions légales - Cookies", legal_path%>
    </div>
  </div>
  <div class="copyright">
    <p>
      <em>Copyright Poolandtea&copy; 2021</em>
    </p>
  </div>
</div>

