<div class="footer">
  <div class="social-links ">
    <a href="https://github.com/POLETTISTE" alt="github-icon" class="github-icon"><img src="https://res.cloudinary.com/polettiste/image/upload/v1641391766/github_txgiab.png" alt="github-icon"></a>
    <a href="https://www.instagram.com/stephanepoletti/" alt="instagram-icon" class="instagram-icon"><img src="https://res.cloudinary.com/polettiste/image/upload/v1641391041/instagram_frhxhb.png" alt="instagram-icon"></a>
    <a href="https://www.linkedin.com/in/poletti-stephane" alt="linkedin-icon" class="linkedin-icon"><img src="https://res.cloudinary.com/polettiste/image/upload/v1641391040/linkedin_tdjumq.png" alt="linkedin-icon"></a>
  </div>
</div>
