<div class="footer">
  <div class="footer-links ">
    <a href="https://github.com/POLETTISTE" alt="github-icon" class="github-icon"><i class="fab fa-github"></i></a>
    <a href="https://www.instagram.com/stephanepoletti/" alt="instagram-icon" class="instagram-icon"><i class="fab fa-instagram"></i></a>
    <a href="https://www.linkedin.com/in/poletti-stephane" alt="linkedin-icon" class="linkedin-icon"><i class="fab fa-linkedin"></i></a>
  </div>
</div>
