<div class="footer">
  <div class="footer-links">
    <a href="https://github.com/POLETTISTE"><i class="fab fa-github"></i></a>
    <a href="https://www.instagram.com/stephanepoletti/"><i class="fab fa-instagram"></i></a>
    <a href="https://www.linkedin.com/in/poletti-stephane"><i class="fab fa-linkedin"></i></a>
  </div>
  <div class="footer-copyright">
      ®
  </div>
</div>
