
  <nav class="navbar navbar-expand-lg navbar-light">
    <a href="/">
    <div class="logo">
      <img src="https://res.cloudinary.com/polettiste/image/upload/v1641284426/stephanepoletti/logo_chips_poletti_ls7y46.png" alt="logo" id="logo">
      <h1>STEPHANEPOLETTI.COM</h1>
    </div>
    </a>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item">
          <h6><%= link_to "ACCUEIL", root_path%></h6>
        </li>
        <li class="nav-item">
          <h6><%= link_to "PORTFOLIO", portfolio_path%></h6>
        </li>
        <li class="nav-item">
          <h6><%= link_to "ME CONTACTER", new_contact_path%></h6>
        </li>

      </ul>
    </div>


    <button class="navbar-toggler btn-nav" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

  </nav>

