<h1>contact</h1>

<%= link_to "Know more about us", about_path, class:"btn btn-primary" %>
<%= link_to "Meet our team", contact_path, class: "btn btn-warning"%>
<%= link_to "Homepage", root_path, class:"btn btn-danger" %>


