<div class="construction">
    <img src="https://res.cloudinary.com/polettiste/image/upload/v1641477167/stephanepoletti/construction_qxb3sv.svg" alt="construction_site" class="construction_site">
  </div>
