<h1 class="text-center">SITE EN COURS DE REALISATION</h1>
<hr>
<h3 class="text-center">Pour me contacter: </h3>
<br>
<h3 class="text-center"><%= link_to "Contact", new_contact_path, class: "contactlink" %></h3>
