<img alt="construction" class="center construction" width="850" height="475" src='https://res.cloudinary.com/polettiste/image/upload/v1638304948/stephanepoletti/SiteEnConstruction_aeeled.jpg'>
<br>
<h3 class="text-center"><%= link_to "contact", new_contact_path, class: "contactlink" %></h3>
