<div class="home-banner">
  <h1 class="flicker">Stéphane Poletti</h1>
    <h2>
      <em><span id="banner-typed-text"></span></em>
    </h2>
</div>

<div class="container">
  <div class="row justify-content-center">
    <div class="col-12">
      <%= "Site en travaux - " * 100 %>
    </div>
  </div>
</div>
