<div class="home-banner">
  <h1><strong>Stéphane POLETTI</strong></h1>
      <em><span id="banner-typed-text"></span></em>
</div>

<div class="section-home">
  <div class="section-top">
    <img src="https://res.cloudinary.com/polettiste/image/upload/v1642697391/stephanepoletti/profil_square_e0rots.png" alt="" id="poletti">
    <div>Je suis Stéphane Poletti</div>
    <div>Développeur Web Full Stack en freelance</div>
  </div>

  <div>Je vous propose de créer votre site et/ou application, en mettant en œuvre des techniques de conception sur mesure.</div>
  <div>J’accompagne votre projet du début à la fin, nous échangerons sur l’évolution du site tout le long du parcours de
    création, afin que le rendu final corresponde en tous points au produit désiré.</div>
  <div> Après la mise en ligne, j'effectuerai les maintenances pour optimiser les performances</div>
  <div>Aujourd’hui il est inconcevable de vouloir faire l’impasse sur un site internet !</div>
<!--   <div>installé à <strong>Tourves dans le Var (83), commune située entre les villes
  de Saint-Maximin-la -Sainte-Baume et Brignoles.</strong></div> -->

<!--   <div>La conception de site internet et le développement web sont indispensables pour</div> -->

  <div class="relief-green">Améliorez la visibilité et l’attractivité de votre entreprise !</div>



<!--   <div>Je m’occuperai de la réalisation technique et le développement informatique de votre site internet.</div>
 -->
<!--   <div>Nous déterminerons ensemble vos besoins et point par point la structure et le contenu de votre projet.</div>
 -->



<!--   <div>Votre site internet sera hébergé sur un serveur puissant, robuste et sécurisé, supportant la montée en charge et situé au plus proche de vos visiteurs.</div>
 -->


  <div class="relief-violet">90% de vos futurs clients vous trouverons grâce à un moteur de recherche sur le web !</div>
<!--   <div>Avez-vous réfléchi au type de site internet que vous souhaitez pour votre entreprise ?</div>
  <div>Avez-vous besoin de vendre vos produits en ligne ou vous souhaitez uniquement les présenter ?</div>
  <div>Aucune vente, mais uniquement la présentation de vos services ?</div>
  <div>Quel que soit le type de site internet il y a des étapes indispensables pour un projet de site web réussi :</div> -->
  <div class="menu">
    <div class="mt-5 mb-5 d-flex flex-column align-items-center"><h2>CHRONOLOGIE DE VOTRE PROJET</h2></div>
    <div class=" d-flex flex-column align-items-center">
      <div>1 - Élaboration du cahier des charges</div>
      <img src="https://res.cloudinary.com/polettiste/image/upload/v1642688460/stephanepoletti/cahierdescharges_pvai0j.png" alt="" class="chrono">
    </div>
    <div class=" d-flex flex-column align-items-center">
      <div>2 - Choix de la solution technique</div>
      <img src="https://res.cloudinary.com/polettiste/image/upload/v1642688460/stephanepoletti/technical_choice_gzfzri.png" alt="" class="chrono">
    </div>
    <div class=" d-flex flex-column align-items-center">
      <div>3 - Préparation de la maquette graphique</div>
      <img src="https://res.cloudinary.com/polettiste/image/upload/v1642688460/stephanepoletti/webdesign_pqdu2n.png" alt="" class="chrono">
    </div>
    <div class=" d-flex flex-column align-items-center">
      <div>4 - Développement du site</div>
      <img src="https://res.cloudinary.com/polettiste/image/upload/v1642688460/stephanepoletti/webcode_c2aoly.png" alt="" class="chrono">
    </div>
    <div class=" d-flex flex-column align-items-center">
      <div>5 - Optimisation & référencement</div>
      <img src="https://res.cloudinary.com/polettiste/image/upload/v1642688460/stephanepoletti/seo_hm1dz8.png" alt="" class="chrono">
    </div>
    <div class=" d-flex flex-column align-items-center">
      <div>6 - Maintenance du site</div>
      <img src="https://res.cloudinary.com/polettiste/image/upload/v1642688460/stephanepoletti/maintenance_ag3vrt.png" alt="" class="chrono">
    </div>
  </div>
  <div class="relief-green">Vous pourrez ainsi développer votre entreprise grâce à une réelle présence en ligne.</div>

  <div class="icones row justify-content-center">
    <h3 class="mt-5 mb-5">LES TECHNOLOGIES QUE J'UTILISE</h3>
    <div class=" col-12 col-lg-8">
        <img src="https://res.cloudinary.com/polettiste/image/upload/v1642509276/ICONES%20TECHNOLOGIES/html5_hhgedt.png" alt="" class="icones-techno">
        <img src="https://res.cloudinary.com/polettiste/image/upload/v1642509276/ICONES%20TECHNOLOGIES/css_vsqdzo.png" alt="" class="icones-techno">
        <img src="https://res.cloudinary.com/polettiste/image/upload/v1642509276/ICONES%20TECHNOLOGIES/sass_idrjmz.png" alt="" class="icones-techno">
        <img src="https://res.cloudinary.com/polettiste/image/upload/v1642509276/ICONES%20TECHNOLOGIES/bootstrap_pppqfi.png" alt="" class="icones-techno">
        <img src="https://res.cloudinary.com/polettiste/image/upload/v1642509276/ICONES%20TECHNOLOGIES/js_t8yo75.png" alt="" class="icones-techno">
        <img src="https://res.cloudinary.com/polettiste/image/upload/v1642509276/ICONES%20TECHNOLOGIES/ruby_lgrt09.png" alt="" class="icones-techno">
        <img src="https://res.cloudinary.com/polettiste/image/upload/v1642510948/ICONES%20TECHNOLOGIES/rails_hrrwaz.png" alt="" class="icones-techno">
        <img src="https://res.cloudinary.com/polettiste/image/upload/v1642509276/ICONES%20TECHNOLOGIES/postgresql_zayiup.png" alt="" class="icones-techno">
        <img src="https://res.cloudinary.com/polettiste/image/upload/v1642509276/ICONES%20TECHNOLOGIES/github_hngkll.png" alt="" class="icones-techno">
        <img src="https://res.cloudinary.com/polettiste/image/upload/v1642509276/ICONES%20TECHNOLOGIES/heroku_xb7oqw.png" alt="" class="icones-techno">
    </div>
  </div>
  <div>Je vous invite à me contacter par</div>
    <div class="mt-2 mb-2"><%= link_to "formulaire de contact ", new_contact_path, class:"contacter"%></div>
    <div>(recommandé) </div>
    <div>ou via mes coordonnées ci-dessous :</div>

  </div>
  <div class="carte-visite">
    <div><h6><a href="mailto:contact@stephanepoletti.com?subject=FORMULAIRE DE CONTACT via stephanepoletti.com&amp; link" target = "_ blank">✉️ contact@stephanepoletti.com</a></h6></div>
    <div><h6><a href="tel:+33777001518"> 📱 07 77 00 15 18</a></h6></div>
    <div><h6><a href="https://www.google.com/maps/@43.416981,5.9545158,11.89z" target = "_ blank">📍 TOURVES (83) - France</a></h6></div>
  </div>
</div>
