<div class="home-banner">
  <h1><strong>Stéphane Poletti</strong></h1>
    <p>
      <em><span id="banner-typed-text"></span></em>
    </p>
</div>

<div class="container">
  <div class="row justify-content-center">
    <div class="col-12">
      <%= "Site en travaux - " * 100 %>
    </div>
  </div>
</div>
