<div class="home-banner">
  <h1><strong>Stéphane Poletti</strong></h1>
      <em><span id="banner-typed-text"></span></em>
</div>

<div class="section-home">
      <h2 class="bienvenue text-center">Bienvenue !</h2>

        <p>Je suis Stéphane Poletti
          <p><span class="relief-green">développeur web Full Stack en freelance</span>
          </p>
          installé à <strong>Tourves dans le Var (83), commune située entre les villes de Saint-Maximin-la -Sainte-Baume et Brignoles.</strong></p>
        <p>La conception de site internet et le développement web sont indispensables pour <span class="relief-green">améliorer la visibilité et l’attractivité de votre entreprise.</span></p>
        <p>Aujourd’hui il est inconcevable de vouloir faire l’impasse sur un site internet.
        90% de vos futurs clients utilisent les moteurs de recherche pour trouver le prestataire dont ils ont besoin, autour de chez eux et au-delà !</p>
        <p>Je m’occuperai de la réalisation technique et le développement informatique de votre site internet.</p>
        <p>Nous déterminerons ensemble vos besoins et point par point la structure et le contenu de votre projet.</p>
        <p>Je vous proposerai des créations de sites et d’applications, en mettant en œuvre des techniques de conception sur mesure.</p>
        <p>J’accompagnerai votre projet du début à la fin, et nous échangerons sur l’évolution du site tout le long du parcours de création, afin que le rendu final corresponde en tous points au produit désiré, et même après la mise en ligne, des maintenances seront effectuées pour optimiser ses performances.</p>

      <h3>Vous pourrez ainsi développer votre entreprise grâce à une réelle présence en ligne.</h3>

        <p>Votre site internet sera hébergé sur un serveur puissant , robuste, et sécurisé, supportant la montée en charge et situé au plus proche de vos visiteurs.</p>

      <h4>Les technologies que j’utilise :</h4>

        <p>Développement du site : HTML, CSS, Sass, Bootstrap, JavaScript, Ruby, Ruby on Rails< :p>
        <p>Base de données : PostgreSL</p>
        <p>Hebergement du site : GitHub / Heroku</p>
        <div class="icones row justify-content-center">
          <div class=" col-12 ">
          <img src="https://res.cloudinary.com/polettiste/image/upload/v1642509276/ICONES%20TECHNOLOGIES/html5_hhgedt.png" alt="" class="icones-techno">
          <img src="https://res.cloudinary.com/polettiste/image/upload/v1642509276/ICONES%20TECHNOLOGIES/css_vsqdzo.png" alt="" class="icones-techno">
          <img src="https://res.cloudinary.com/polettiste/image/upload/v1642509276/ICONES%20TECHNOLOGIES/sass_idrjmz.png" alt="" class="icones-techno">
          <img src="https://res.cloudinary.com/polettiste/image/upload/v1642509276/ICONES%20TECHNOLOGIES/bootstrap_pppqfi.png" alt="" class="icones-techno">
          <img src="https://res.cloudinary.com/polettiste/image/upload/v1642509276/ICONES%20TECHNOLOGIES/js_t8yo75.png" alt="" class="icones-techno">
          <img src="https://res.cloudinary.com/polettiste/image/upload/v1642509276/ICONES%20TECHNOLOGIES/ruby_lgrt09.png" alt="" class="icones-techno">
          <img src="https://res.cloudinary.com/polettiste/image/upload/v1642510948/ICONES%20TECHNOLOGIES/rails_hrrwaz.png" alt="" class="icones-techno">
          <img src="https://res.cloudinary.com/polettiste/image/upload/v1642509276/ICONES%20TECHNOLOGIES/postgresql_zayiup.png" alt="" class="icones-techno">
          <img src="https://res.cloudinary.com/polettiste/image/upload/v1642509276/ICONES%20TECHNOLOGIES/github_hngkll.png" alt="" class="icones-techno">
          <img src="https://res.cloudinary.com/polettiste/image/upload/v1642509276/ICONES%20TECHNOLOGIES/heroku_xb7oqw.png" alt="" class="icones-techno">
          </div>
        </div>

        <p>Avez-vous réfléchi au type de site internet que vous souhaitez pour votre entreprise ?</p>
          <p>Avez-vous besoin de vendre vos produits en ligne ou vous souhaitez uniquement les présenter ?</p>
          <p>Aucune vente, mais uniquement la présentation de vos services ?</p>
          <p>Quel que soit le type de site internet il y a des étapes indispensables pour un projet de site web réussi :</p>

        <ul>
          <li>Élaboration du cahier des charges</li>
          <li>Choix de la solution technique</li>
          <li>Préparation de la maquette graphique</li>
          <li>Développement du site</li>
          <li>Optimisation & référencement</li>
          <li>Maintenance du site</li>
        </ul>

        <p>La durée minimale de création d’un site internet est d'au minimum 2 semaines. Cependant, selon vos besoins,
         vos envies et vos choix techniques la durée de création d’un site internet va varier.</p>
        <p>Les critères de variation sont :</p>

          <ul>
            <li>La solution technique choisie</li>
            <li>Le nombre de pages souhaités</li>
            <li>La complexité du design souhaité</li>
            <li>Les fonctionnalités spécifiques que vous souhaitez</li>
            <li>Le nombre d’articles à référencer.</li>
          </ul>

         <p>Un projet de développement web nécessite d'être préparé :
          il est essentiel de se poser les bonnes questions dès le commencement, d’identifier les risques pour mieux les éviter,
           et d'élaborer une vision claire et exhaustive du projet pour favoriser sa réussite.</p>
         <p>A la suite de votre message, vous obtiendrez des éléments concrets sur :</p>

          <ul>
            <li>la faisabilité de votre projet</li>
            <li>son niveau de complexité et de criticité</li>
            <li>les étapes clés nécessaires pour le mener à bien</li>
            <li>les points de vigilance à adresser</li>
            <li>une échelle de temps et de budget pour sa réalisation</li>
            <li>un tarif déterminé en fonction de tous ces éléments, car il n’existe pas de tarif unique.</li>
          </ul>

        <p>Je suis disponible également pour des rendez-vous physiques dans la région PACA, ce qui facilitera les échanges sur les éléments clefs de votre projet, en plus des échanges mails / visio conférences que nous entretiendrons régulièrement.</p>
        <p>Je vous invite à me contacter par <strong><%= link_to "formulaire de contact (recommandé)", new_contact_path %></strong> ou via mes coordonnées ci-dessous :</p>

      <h5 class="my-infos text-center">
        <p> Stéphane Poletti</p>
        <p><a href="tel:+33777001518"> 📱 07 77 00 15 18</a></p>
        <p><a href="mailto:contact@stephanepoletti.com?subject=FORMULAIRE DE CONTACT via stephanepoletti.com&amp; link" target = "_ blank">✉️ contact@stephanepoletti.com</a></p>
        <p><a href="https://www.google.com/maps/@43.416981,5.9545158,11.89z" target = "_ blank">📍 TOURVES (83) - France</a></p>
    </h5>
</div>
