.home-banner {
  background-image: url('https://res.cloudinary.com/polettiste/image/upload/v1641543178/stephanepoletti/header_uifmf5.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  width:auto;
  height: 100vh;
  color: #eee;
  text-align: center;
  padding-top: 40vh;
}
