
.footer {
  display:flex;
  flex-direction:column;
  background-color: #CCCCCC;
  border-top:1px solid black;
}

.footer .links{

}

.social-links{
  display:flex;
  justify-content:center;
  width:100%;
  margin: 0 auto;
}

.social-links img{
  width: 6vh;
  margin:2vh 1vh;
}

.footer-links{
  display: flex;
  justify-content: center;
  width:100%;
  margin: 0 auto;
  font-size:14px;
  color: black;
  & a {
    margin:1vh 2vh;
  }
}

.footer .copyright p{
  font-size: 12px;
  text-align:center;
  margin-bottom: 0.5vh;

}

// Mobile devices
@media screen and (max-width: 576px) {

}

// iPads, Tablets
@media screen and (min-width: 577px) and (max-width: 768px) {


}

//Small screens, laptops
@media screen and (min-width: 769px) and (max-width: 992px) {


}

//Desktops, large screens
@media screen and (min-width: 993px){

}


//Extra large screens, TV
// @media screen and (min-width: 1201px) {

// }


