// Graphical variables

// External libraries
@import "font-awesome-sprockets";
@import "font-awesome";
// Your CSS partials
@import "bootstrap/scss/bootstrap";
@import "pages/index";
@import "contacts/index";
@import "components/index";
@import "layouts/index";



//Fonts
@import url('https://fonts.googleapis.com/css2?family=Lato&family=Luxurious+Roman&family=Montserrat&display=swap');
// = require bootstrap/dist/css/bootstrap

//general


body {
  font-family: 'Montserrat', sans-serif;
  background-color:transparent;
  text-align:left;
  font-size:18px;
}
h1{
    font-size:35px;
}

h2{
    font-size:25px;

}

h3{
    font-size:22px;

}

h4{
    font-size:20px;

}

h5{
    font-size:19px;

}

h6{
    font-size:18px;

}

p{
  font-size:18px;
}

li {
  list-style-type: square;
  font-size:18px;

}
a {
  text-decoration:none;
  color:black;
    &:hover{
    font-weight: 700;
    color:black;
  }
  &:visited{
    color: black;
  }
}


