// Graphical variables

// External libraries
@import "font-awesome-sprockets";
@import "font-awesome";
// Your CSS partials
@import "bootstrap/scss/bootstrap";
@import "pages/index";
@import "contacts/index";
@import "components/index";
@import "layouts/index";



//Fonts
@import url('https://fonts.googleapis.com/css2?family=Lato&family=Luxurious+Roman&family=Montserrat&display=swap');
// = require bootstrap/dist/css/bootstrap

//general


body {
  font-family: 'Montserrat', sans-serif;
  background-color:transparent;

}

a {
  text-decoration:none;
  color:black;
    &:hover{
    font-weight: 700;
    color:black;
  }
  &:visited{
    color: black;
  }
}

.red{
  color:red;
}
li {
  list-style-type: square;
}

p {
  font-size: 12px;
}
